System Requirements
===================

Hardware requirements are based on the following:

-  Number of DB objects (tables, columns) imported into Alation.  These actions cause background processing jobs which impact memory use, and
   processor utilization.

-  Daily query volume imported by Alation  These actions cause background processing jobs which impact memory use, processor utilization, and disk space consumption.

-  Number of Alation users. This parameter usually has the least impact.

- Decision to install and use Alation Analytics V2.

- Decision to use OCF connectors.

    .. important::

        Alation Analytics V2 requires additional disk space or a separate host. See :doc:`Enable and Install Alation Analytics V2 <../../installconfig/AlationAnalyticsV2/EnableAlationAnalyticsV2>` for detailed system requirements for Alation Analytics V2.

        OCF Connectors require additional disk space. Refer to :doc:`Install Alation Connector Manager <../../sources/OpenConnectorFramework/OCFInstallAlationConnectorManager>` for detailed system requirements for OCF.


Minimum - POC or Pilot Only
---------------------------

These are typical values that can be used for a pilot project,
depending on expected ingestions and log volume:

+----------------------------------------------------+----------------------------+
| System Component                                   | Sizing Recommendation      |
+====================================================+============================+
| CPU                                                | 8 cores (2.4GHz)           |
+----------------------------------------------------+----------------------------+
| RAM                                                | 32 GB                      |
+----------------------------------------------------+----------------------------+
| Data Disk                                          | 150-200 GB                 |
+----------------------------------------------------+----------------------------+
| Backup Disk                                        | 250-300 GB                 |
+----------------------------------------------------+----------------------------+
| Root Disk (free space) or mount at **/opt/alation**| 25 GB (This size will      |
|                                                    | typically allow for one    |
|                                                    | update)                    |
+----------------------------------------------------+----------------------------+

Baseline
--------
A baseline installation can be characterized as follows:

-  Less than 500,000 DB objects
-  Less than 500,000 queries/day
-  Up to 50 users:

+----------------------------------------------------+----------------------------+
| System Component                                   | Sizing Recommendation      |
+====================================================+============================+
| CPU                                                | 8 cores (2.4GHz)           |
+----------------------------------------------------+----------------------------+
| RAM                                                | 32 GB                      |
+----------------------------------------------------+----------------------------+
| Data Disk                                          | 500 GB                     |
+----------------------------------------------------+----------------------------+
| Backup Disk                                        | 750 GB                     |
+----------------------------------------------------+----------------------------+
| Root Disk (free space) or mount at **/opt/alation**| 80 GB                      |
+----------------------------------------------------+----------------------------+
| Root Disk if installing Alation Analytics V2       | 160 GB                     |
| on the same host (not recommended)                 |                            |
+----------------------------------------------------+----------------------------+
| Alation Analytics V2 installation directory        | 1.5-2 times Rosemeta size  |
| on remote host (recommended)                       |                            |
+----------------------------------------------------+----------------------------+

Midrange
--------
A midrange installation can be characterized as follows:

-  Less than 2.5 Million DB objects
-  Less than 2,000,000 queries/day
-  Up to 250 users:

+----------------------------------------------------+----------------------------+
| System Component                                   | Sizing Recommendation      |
+====================================================+============================+
| CPU                                                | 16 cores (2.4GHz)          |
+----------------------------------------------------+----------------------------+
| RAM                                                | 64 GB                      |
+----------------------------------------------------+----------------------------+
| Data Disk                                          | 1 TB                       |
+----------------------------------------------------+----------------------------+
| Backup Disk                                        | 1.5 TB                     |
+----------------------------------------------------+----------------------------+
| Root Disk (free space) or mount at **/opt/alation**| 80 GB                      |
+----------------------------------------------------+----------------------------+
| Root Disk if installing Alation Analytics V2       | 160 GB                     |
| on the same host (not recommended)                 |                            |
+----------------------------------------------------+----------------------------+
| Alation Analytics V2 installation directory        | 1.5-2 times Rosemeta size  |
| on remote host (recommended)                       |                            |
+----------------------------------------------------+----------------------------+

Enterprise
----------
+----------------------------------------------------+-----------------------------------------------------------+
| System Component                                   | Sizing Recommendation                                     |
+====================================================+===========================================================+
| CPU                                                | 20 cores (2.4GHz)                                         |
+----------------------------------------------------+-----------------------------------------------------------+
| RAM                                                | 64 GB + 2 GB per million objects to a maximum of 128 GB   |
+----------------------------------------------------+-----------------------------------------------------------+
| Data Disk                                          | 2TB + 1.25GB per 1,000 Queries/day                        |
+----------------------------------------------------+-----------------------------------------------------------+
| Backup Disk                                        | 1.5 x Data Disk size                                      |
+----------------------------------------------------+-----------------------------------------------------------+
| Root Disk (free space) or mount at **/opt/alation**| 80 GB                                                     |
+----------------------------------------------------+-----------------------------------------------------------+
| Root Disk if installing Alation Analytics V2       | 160 GB                                                    |
| on the same host (not recommended)                 |                                                           |
+----------------------------------------------------+-----------------------------------------------------------+
| Alation Analytics V2 installation directory        | 1.5-2 times Rosemeta size                                 |
| on remote host (recommended)                       |                                                           |
+----------------------------------------------------+-----------------------------------------------------------+

Disk Requirements
-----------------

-  All disks must use **ext4** or **xfs** file system
-  Root, Data, and Backup disks must be on different physical
   disks. The backup drive should be larger than the data drive, as data is staged on the
   backup drive before being compressed.  A conservative estimate
   of **backup = 1.5 x data** will give space to hold both the staged data
   and the compressed backup files.
-  Data disk and Backup disk mount points should be owned by **root:root** and
   permission flags should be **rwxr-xr-x**, otherwise services may fail to
   start.
-  LVM is strongly recommended for Data and Backup disks for ease of
   resizing.

Microsoft Azure
---------------

Data and Root (Operating System) disks need to be provisioned with
Premium Storage.

VMWare
---------

Create a CentOS, RedHat or other supported Linux 64-bit VM on an ESX/ESXi server.

.. note::

   Development/Test tools like VirtualBox and VMPlayer are not supported.

.. _System_Requirments-OS_Requirements:

OS Requirements
-----------------

x86 64-bit, minimal OS install

- CentOS 7.x

    .. note::

        CentOS 8.x has reached the end of life and is no longer on the list of supported operating systems. CentOS 8.x cannot be used for new installations of Alation from version 2022.1.

- Red Hat 7.x or 8.x
- Oracle Linux with Red Hat compatible kernel

    - Version 7 supported from release 2021.1
    - Version 8 supported from release 2021.2

- AWS Linux 2
- Ubuntu 16, 18, 20

    - Ubuntu 20 supported from release 2021.2

- Debian 9, 10

    - Support confirmed from release 2021.1

- Fedora

    - Version 33 supported from release 2021.2
    - Version 34 supported from release 2021.3


Users can run the  ``hostnamectl`` command to verify details of the operating system.

Unix Users
----------

Alation installer will create the following local UNIX users and groups. 

============= ============= =================== =============
Username      Groups        Home Directory      Shell
============= ============= =================== =============
alation       alation       /home/alation       /bin/bash
alationadmin  alationadmin  /home/alationadmin  /bin/bash
postgres      postgres      /home/postgres      /bin/bash
elasticsearch elasticsearch /home/elasticsearch /bin/bash
sensu         sensu         /home/sensu         /bin/bash
mongod\*      mongod        /home/mongod        /bin/bash
nginx         nginx         /home/nginx         /bin/bash
ntp           ntp           /etc/ntp            /sbin/nologin
postfix       mail, postfix /home/postfix       /bin/bash
dd-agent      dd-agent      /home/dd-agent      /bin/bash
============= ============= =================== =============

\* Only applies to releases before *V R5 (5.9.x)*. In V R5, MongoDB component is removed.

Note on Managed Systems
-----------------------

In environments where local UNIX users are managed through
LDAP/Puppet/Chef, you may need to create these users and groups before
running the Alation installer.

Co-location
-----------

Co-located Alation installs with other software are NOT supported.
Alation runs resource intensive query analysis jobs and requires a
dedicated server.

DNS
---

Alation needs to resolve hostnames. Make sure that **/etc/resolv.conf** is configured properly. Run
the ``nslookup alation.com`` command for querying the DNS to get domain name or IP address mapping.

Alation Analytics V2
-------------------------

Alation recommends remote installation (separate host) for Alation Analytics V2. Please refer to :doc:`Enable and Install Alation Analytics V2 <../../installconfig/AlationAnalyticsV2/EnableAlationAnalyticsV2>` for detailed system requirements for Alation Analytics V2.

Open Connector Framework (OCF)
----------------------------------

*Applies from release 2020.4*

Alation recommends installing the OCF Components on the same host with Alation. Refer to :doc:`Install Alation Connector Manager <../../sources/OpenConnectorFramework/OCFInstallAlationConnectorManager>` for detailed system requirements for OCF.
