HA Requirements
=====================================================================

.. include:: /shared/ProductLabels/CustomerManaged_Label.rst

*Applies from version 4.8 and above*

System Sizing
--------------

The Primary and Secondary systems should be identically sized.  Note that it is especially
important that the Secondary system has the same amount of Data and Backup disk space as the Primary.

Ports information
------------------

For replication setup we need the following ports open between all
servers in a cluster.

=================== ========= =======================================
Service             Port      Purpose
=================== ========= =======================================
postgres            5432      accounts, articles, query logs
kvstore             8088      sql text
replication-service 2022      used for signaling and file replication
=================== ========= =======================================

Related Topics
----------------

 :doc:`Set up High Availability <../../installconfig/HighAvailability/SetupHA>` 

 :doc:`Failover to Secondary <../../installconfig/HighAvailability/FailovertoSecondary>` 

 :doc:`Migrating from Legacy to Supported HA <../../installconfig/HighAvailability/MigratefromLegacytoSupportedHA>` 
